/**
 * projekt: Flexbox tutorial
 * fil: css/style.css
 **/

/* Google fonts (NB: load før :root) */
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
/* font-family: 'Luckiest Guy', cursive; */

/* Variabler: genbruges og gør designvalg enkle */
:root {
  /* farver */
  --blue: #1e90ff;
  --white: #ffffff;

  /* fonte */
  --font: 'Trebuchet MS', sans-serif; /* brødtekst */
  --displayH: 'Luckiest Guy', cursive; /* overskrifter */

  /* teksturer ("fliselagte baggrunde") */
}

/* Her bruges en variabel: --blue */
body {
  background-color: var(--blue);
  font-family: var(--font);
}

/* Typografi */
h1, h2 {
  font-family: var(--displayH);
}

/* Layout: Flexbox */
/* tutorial: https://css-tricks.com/snippets/css/a-guide-to-flexbox */

#content {
  display: flex; /* får indholdet i containeren til at flexe */
  justify-content: space-evenly; /* se andre muligheder i tutorialen */
}

aside {
  width: 33%; /* giv elementerne en bredde */
}

main {
  width: 65%; /* do. */
}

/* align items */
/* align content */
